@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: #ffff;
}

.wrapper {
    max-width: 1000px;
    margin: auto;
}

header {
    background-color: #1F2937;
}

.head {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.head a {
    text-decoration: none;
}

.head .logo a {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.menu-links a {
    margin-left: 20px;
    color: #E5E7EB;
    font-size: 14px;
}

.hero {
    background-color: #1F2937;
}

.hero-container {
    display: flex;
    padding-top: 70px;
    padding-bottom: 70px;
    gap: 50px;
}

.hero-text {

}

.heto-text h1 {
    margin-bottom: 15px;
}

.hero-text p {
    color: #ffff;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sign-up-btn {
    background-color: #3882f6;
    padding: 10px 40px 10px 40px;
    border-radius: 15px;

}

.sign-up-btn p {
    margin: 0px 0px 0px 0px;
    font-weight: bold;
}